<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>calendar</title>
	 <link rel="stylesheet" href="/assets/style.css" type="text/css">
</head>
<body>
	<%= make_calendar(@year, @month) %>

	<form action="/tasks" method="post">
		<input type="date" name="date">
		<input type="text" name="task">
		<input type="submit" type="追加">
	</form>

</body>
</html>
