<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>calendar</title>
	 <link rel="stylesheet" href="/assets/style.css" type="text/css">
</head>
<body>
<h1>Calendar</h1>
	<a href="/new">新規</a>
	<h2>ログイン</h2>
	<form action=""></form>
</body>
</html>
