<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>calendar</title>
	 <link rel="stylesheet" href="/assets/style.css" type="text/css">
</head>
<body>
<h1>Calendar</h1>
	<form action="/calendar" method="post">
		<input type="text" name="year" placeholder="year">
		<input type="text" name="month" placeholder="month">
		<input type="submit" value="作成">
	</form>
</body>
</html>
