<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>Calendar</h1>
<h2>新規ユーザー登録</h2>
  <form action="/sign_up" method="post">
    <input type="text" name="username" placeholder="user name">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <input type="text" name="password_confirmation" placeholder="password confirmation">
    <input type="submit" value="登録">
  </form>
</body>
</html>